/* ---------------------------------- RESET --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/* -------------------------------- VARIABLES ------------------------------- */

:root {
    --keyRadius: 20px;
    --colorButton: hsl(240, 12%, 97%);
    --transitionKey: .1s;
}

/* --------------------------------- GENERAL -------------------------------- */

body {
    font-family: 'Space Grotesk', serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f3f4f5;
    background-image: radial-gradient(ellipse, transparent 70%, #fff);
}

.wrapper {
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: center;
}

.calc {
    position: relative;
    padding: 25px;
    width: 425px;
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: fade-in .7s both, roll-up .7s both;
}

.calc__item {
    border-radius: var(--keyRadius);
    background-color: var(--colorButton);
}

/* --------------------------------- DISPLAY -------------------------------- */

.display {
    position: relative;
    flex: 3;
    overflow: hidden;
    margin-bottom: 5px;
    font-size: 32px;
}

.display p {
    text-align: right;
    position: absolute;
    z-index: 2;
}

.display p::selection {
    background-color: rgba(0, 0, 0, .2);
}

.display__input {
    bottom: 38%;
    right: 5%;
    transform: translateY(50%);
    font-size: 2em;
    font-weight: 300;
    color: rgba(0, 0, 0, .75);
}

.display__operation {
    top: 33%;
    right: 6%;
    transform: translateY(-50%);
    font-size: .7em;
    font-weight: 400;
    color: rgba(0, 0, 0, .4);
}

/* ---------------------------------- KEYS ---------------------------------- */

.keyboard {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    flex: 7;
    gap: 10px;
    grid-auto-flow: dense;
    color: rgba(0, 0, 0, .6);
    font-size: 30px;
}

.keyboard,
.footer {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.key--operation {
    grid-column: -2;
    background-color: hsl(41, 80%, 86%);
}

.key--general {
    background-color: hsl(209, 86%, 94%);
}

@media (hover: hover) {
    .key--number:hover {
        border-radius: var(--keyRadius);
        background-color: hsl(240, 3%, 98%);
    }

    .key--operation:hover {
        background-color: hsl(41, 90%, 89%);
    }

    .key--general:hover {
        background-color: hsl(209, 73%, 95%);
    }
}

.key {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 1px 1px 1.5px 0 rgba(0, 0, 0, .15), 4px 4px 4px 0 rgba(0, 0, 0, .035);
    transition: var(--transitionKey);
    cursor: pointer;
}

.key--equals {
    grid-column: span 2;
    order: 1;
}

/* --------------------------------- FOOTER --------------------------------- */

.footer {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    color: rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    margin-left: 5px;
    animation: fade-in .5s .5s both;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.footer__name {
    transition: .1s;
}

.footer__name:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, .4);
}

.footer__link {
    margin-top: 1px;
    font-size: 1.25em;
    transition: .25s;
    transform: scale(1);
}

.footer__link:hover {
    margin-left: 0;
    transform: scale(1.15);
    color: rgba(0, 0, 0, .4);
}

/* ------------------------------ BEVEL EFFECT ------------------------------ */

.calc::after,
.display::after,
.key::after,
.key::before {
    content: "";
    position: absolute;
    border-radius: calc(var(--keyRadius) - 3px);
    background-color: transparent;
}

.key::after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    box-shadow: -10px -10px 12px 5px rgb(255, 255, 255, .55), 10px 10px 12px 5px rgb(0, 0, 0, .075);
    filter: blur(1px);
    transition: var(--transitionKey);
}

.key:hover::after {
    box-shadow: -10px -10px 12px 5px rgb(255, 255, 255, .6), 10px 10px 12px 5px rgb(0, 0, 0, .09);
}

.calc::after {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    box-shadow: -3px -3px 6px 4px rgb(255, 255, 255, .55), 3px 3px 6px 4px rgb(0, 0, 0, .09);
    filter: blur(0.2px);
    z-index: -1;
}

.display::after {
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 10px 12px 5px rgb(255, 255, 255, .55), -10px -10px 12px 5px rgb(0, 0, 0, .09);
    filter: blur(3px);
}

/* ------------------------------- ANIMATIONS ------------------------------- */

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes roll-up {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}

/* ------------------------------ MEDIA QUERIES ----------------------------- */

@media (max-height: 750px),
(max-width: 500px) {
    :root {
        --keyRadius: 2.75vmin;
    }

    .keyboard {
        gap: 2vmin;
    }

    .footer {
        font-size: 3vmin;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }
}

@media (max-height: 750px) {
    .wrapper {
        margin-top: 3vh;
    }

    .calc {
        height: 100%;
    }
}

@media (max-width: 500px) {
    .wrapper {
        margin-top: 0;
    }

    .calc {
        width: 100vw;
        height: 100%;
        padding-bottom: 0;
        padding-left: 6vw;
        padding-right: 6vw;
    }

    .calc::after {
        box-shadow: none;
    }
}

@media (max-height: 600px) {
    .display {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 24px 12px 18px 0;
        font-size: 28px;
    }

    .display p {
        position: static;
        transform: none;
        line-height: 1;
        height: 1em;
        flex: 0 0 auto;
    }

    .display__operation {
        margin-right: 3px;
    }

    .keyboard {
        font-size: 4.7vh;
    }

    .calc {
        padding: 4.5vmin;
    }

    @media (max-width: 500px) {
        .calc {
            padding-bottom: 0;
        }
    }
}

@media (max-height: 425px) {
    .display {
        font-size: 5.5vh;
        flex: 1 0 0;
        padding: 8vh 12px 7vh;
    }
}

@media (max-height: 320px) {
    :root {
        --keyRadius: 10px;
    }

    body {
        overflow-y: initial;
        min-height: 320px;
    }

    .calc {
        padding: 12px 24px 0;
    }

    @media (min-width: 501px) {
        .calc {
            padding-bottom: 18px;
        }
    }

    .display {
        font-size: 18px;
        padding: 24px 12px 20px;
    }

    .keyboard {
        font-size: 18px;
        gap: 6px;
    }

    .footer {
        font-size: 12px;
    }
}