/* ---------------------------------- RESET --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/* -------------------------------- VARIABLES ------------------------------- */

:root {
    --keyRadius: 20px;
}

/* --------------------------------- GENERAL -------------------------------- */

body {
    font-family: 'Space Grotesk', serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    background-color: #f3f4f5;
    background-image: radial-gradient(ellipse, transparent 70%, #fff);
}

.wrapper {
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: center;
}

.calc {
    position: relative;
    padding: 25px;
    width: 425px;
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: fade-in .7s both, roll-up .7s both;
}

.calc__item {
    border-radius: var(--keyRadius);
    background-color: #f6f6f8;
}

/* --------------------------------- DISPLAY -------------------------------- */

.display {
    position: relative;
    flex: 3;
    overflow: hidden;
    margin-bottom: 5px;
}

/* ---------------------------------- KEYS ---------------------------------- */

.keys {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    flex: 7;
    gap: 10px;
    grid-auto-flow: dense;
    color: rgba(0, 0, 0, .6);
    font-size: 30px;
}

.key--operation {
    grid-column: -2;
    background-color: #f8e7c1;
}

.key--general {
    background-color: #e4f1fd;
}

.key {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 1px 1px 1.5px 0 rgba(0, 0, 0, .15), 4px 4px 4px 0 rgba(0, 0, 0, .035);
}

.key {
    cursor: pointer;
}

.key--equals {
    grid-column: span 2;
    order: 999;
}

/* --------------------------------- FOOTER --------------------------------- */

.footer {
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    /* flex: 1; */
    color: rgba(0, 0, 0, .2);
    margin-bottom: 20px;
    animation: fade-in .5s .5s both;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.footer__name {
    transition: .1s;
}

.footer__name:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, .4);
}

.footer__link {
    margin-top: 1px;
    font-size: 1.25em;
    transition: .25s;
    transform: scale(1);
}

.footer__link:hover {
    margin-left: 0;
    transform: scale(1.15);
    color: rgba(0, 0, 0, .4);
}

/* ------------------------------ BEVEL EFFECT ------------------------------ */

.calc::after,
.display::after,
.key::after,
.key::before {
    content: "";
    position: absolute;
    border-radius: 18px;
    background-color: transparent;
}

.key::after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    right: 4px;
    box-shadow: -10px -10px 12px 5px rgb(255, 255, 255, .55), 10px 10px 12px 5px rgb(0, 0, 0, .075);
    filter: blur(1px);
}

.calc::after {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    box-shadow: -3px -3px 6px 4px rgb(255, 255, 255, .55), 3px 3px 6px 4px rgb(0, 0, 0, .09);
    filter: blur(0.2px);
    z-index: -1;
}

.display::after {
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    box-shadow: 10px 10px 12px 5px rgb(255, 255, 255, .55), -10px -10px 12px 5px rgb(0, 0, 0, .09);
    filter: blur(3px);
}

/* ------------------------------- ANIMATIONS ------------------------------- */

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes roll-up {
    from {
        transform: translateY(20px);
    }

    to {
        transform: translateY(0);
    }
}